 #welcome-user {
     margin-right: 2rem;
 }

 body {
     font-family: 'Cantarell';
     font-weight: 400;
 }

 .navbar {
     background-color: aliceblue;
     width: 100%;
     margin: 0;
 }

 /*
 .container {
     border: solid 1px black;
 } */



 .cover-photo {
     object-fit: cover;
 }


 h1 {
     font-family: 'Oxygen';
     font-weight: 300;
 }

 #title-pg-header {
     font-size: 4rem;
 }

 h2 {
     font-family: 'Cantarell';
     font-weight: 400;
     font-size: 3rem;
 }

 @media screen and (max-width: 770px) {
     h2 {
         font-size: 2rem;
     }
 }

 @media screen and (max-width: 485px) {
     h2 {
         font-size: 1.25rem;
     }
 }

 label {
     font-style: italic;
     font-size: 1.25rem;
 }

 .card {
     margin-left: 1rem;
 }

 /* .new-form{
    margin-top: 5rem;
} */

 .home-subtitle {
     width: 100%;
     padding-top: 5rem;
     padding-bottom: 5rem;
     background: aliceblue;
 }

 .login-btn {
     margin: 0 auto;
 }

 .portfolio {
     padding-top: 0;
     padding-bottom: 0;
 }