<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<h1>New User page</h1>
        <form action="/users" method="POST">
            Artist Name: <input type="text" name="artistName" />
            Given Name (if different): <input type="text" name="realName" />
            Password: <input type="password" name="password" />
            <input type="submit" name="" value="Create User"/>
        </form>

<%- include('../partials/footer.ejs') %>