<%- include('../partials/header.ejs') %>
<%- include('../partials/userNav.ejs') %>
<div class="d-flex justify-content-center title mt-4 mb-4"><h1>Create New Post</h1>
</div>
<div class="container" style="width: 40rem;">
    <div class="new-post-form">  
    <form action="/posts" method="POST" enctype="multipart/form-data">
        <legend>Artist Information</legend>
        <fieldset>
        <div class="form-group">
            <label for="artist-name">Artist Name</label>
            <input type="text" name="artistName" class="form-control" id="artistName" value="<%= currentUser.artistName %>" readonly>
        </div>
        <div class="form-group">
            <label for="song-photo">Post Photo</label>
            <input type="file" name="postPhoto" class="form-control-file" id="postPhoto">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" name="website" class="form-control" id="website">
        </div>
    </fieldset>
        <legend>Music Information</legend>
            <fieldset>
            <div class="form-group">
                <label for="song-title">Composition Title</label>
                <input type="text" name="compTitle" class="form-control" id="compTitle" placeholder="Composition Title">
            </div>
            <div class="form-group">
                <label for="composition-description">Composition Description</label>
                <textarea class="form-control" name="compDescription" id="compDescription" rows="3" placeholder="Composition Description"></textarea>
            </div>
            <div class="form-group">
                <label for="composition-description">Tags</label>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="add tags with '#' separated by commas">
            </div>
            </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a type="button" href="/posts" class="btn btn-primary">Back to Muse Feed</a>
    </div>
</form>
</div>
<%- include('../partials/footer.ejs') %>